.login-card {
    max-width: 400px;
    margin-top: 5%;
  }
  
  .login-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .center-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }